<div class="register-container">
  <div class="card" style="width: 100%; max-width: 600px;">
    <div class="card-header">
      Registro de Usuario
    </div>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <div *ngIf="submitted && registerForm.controls['email'].errors" class="text-danger">
            <div *ngIf="registerForm.controls['email'].errors['required']">El email es requerido</div>
            <div *ngIf="registerForm.controls['email'].errors['email']">Email no válido</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <div *ngIf="submitted && registerForm.controls['password'].errors" class="text-danger">
            <div *ngIf="registerForm.controls['password'].errors['required']">La contraseña es requerida</div>
            <div *ngIf="registerForm.controls['password'].errors['minlength']">Mínimo 6 caracteres</div>
          </div>
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
